<div>
  <h2 id="page-heading" data-cy="DeliveryItemHeading">
    <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.home.title">Delivery Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-item"
        [routerLink]="['/fulfillment/delivery-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.home.createLabel">Criar novo Delivery Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (deliveryItems().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.home.notFound">Nenhum Delivery Item encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sku">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.sku">Sku</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="weight">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.weight">Weight</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="volume">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.volume">Volume</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="delivery.orderId">
              <div class="d-flex">
                <span jhiTranslate="fulfillmentApp.fulfillmentDeliveryItem.delivery">Delivery</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (deliveryItem of deliveryItems(); track trackId(deliveryItem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fulfillment/delivery-item', deliveryItem.id, 'view']">{{ deliveryItem.id }}</a>
              </td>
              <td>{{ deliveryItem.sku }}</td>
              <td>{{ deliveryItem.description }}</td>
              <td>{{ deliveryItem.quantity }}</td>
              <td>{{ deliveryItem.weight }}</td>
              <td>{{ deliveryItem.volume }}</td>
              <td>
                @if (deliveryItem.delivery) {
                  <div>
                    <a [routerLink]="['/fulfillment/delivery', deliveryItem.delivery.id, 'view']">{{ deliveryItem.delivery.orderId }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/fulfillment/delivery-item', deliveryItem.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/fulfillment/delivery-item', deliveryItem.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(deliveryItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
